* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
}

header {
    background-color: white;
}

h1 {
    padding: .5rem 1.5rem;
}

nav {
    background-color: rgb(103, 179, 255);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container {
    height: calc(100vh - 103px);
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.box {
    flex-basis: calc((100% / 5) - 30px);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}