* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 244, 244);
}

header {
    background-color: white;

}

h1 {
    padding: .5rem 1.5rem;
}

nav {
    background-color: rgb(103, 179, 255);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container {
    height: calc(100vh - 93px);
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: calc(100% / 5);
}

.box {
    border: 1px solid black;
    border-radius: 5px;
}